// Header Section
// --------------------------------------------------
.headband {
  background: $headband-bg;
  height: $headband-height;

  +tablet-mobile() {
    display: none;
  }
}

// Fix issue #521
header.header {
  background: $head-bg;
  font-size: $font-size-larger;
  position: sticky;
  top: 0;
  z-index: 5;
//  box-shadow: 1px 1px 1px red;
//z-index: $zindex+2;
//  border-bottom: 1px solid #ddd;
}

.header-inner {
  main-container();
}

.site-brand-container {
  display: flex;
  flex-shrink: 0;
  padding: 0 10px;
}

.use-motion {
  header.header, .site-brand-container .toggle {
    opacity: 0;
  }
}

.banner {
  width: 100%;
  height: 480px;
  object-fit: cover;
  
  +mobile() {
    height: 160px;
  }
}

@import 'site-meta';
@import 'site-nav';
@import 'menu';

@import 'bookmark';
@import 'github-banner';
