{% macro render(display_toc) %}
  {%- set display_toc = page.toc.enable and display_toc %}
  {%- if display_toc %}
    {%- set toc = toc(page.content, {class: 'nav', list_number: page.toc.number, max_depth: page.toc.max_depth}) %}
    {%- set display_toc = toc.length > 1 and display_toc %}
  {%- endif %}

  {%- if display_toc %}
  <div class="toggle sidebar-toggle" role="button">
    <span class="toggle-line"></span>
    <span class="toggle-line"></span>
    <span class="toggle-line"></span>
  </div>

  <aside class="sidebar">
    <div class="sidebar-inner sidebar-toc-active">
      <div class="sidebar-panel-container">
        <!--noindex-->
        <div class="post-toc-wrap sidebar-panel">
          <div class="post-toc animated">{{ toc }}</div>
        </div>
        <!--/noindex-->

        {{- next_inject('sidebar') }}
      </div>

      {%- if theme.back2top.enable and theme.back2top.sidebar %}
        <div class="back-to-top animated" role="button" aria-label="{{ __('accessibility.back_to_top') }}">
          <i class="fa fa-arrow-up"></i>
          <span>0%</span>
        </div>
      {%- endif %}
    </div>
  </aside>
  <div class="sidebar-dimmer"></div>
  {%- endif %}
{% endmacro %}
