.sidebar-toggle {
  border-radius: 8px;
  bottom: 70px;
  height: 12px;
  padding: 10px 9px;
  width: 14px;
  sidebar-toggle();
}

.sidebar-toggle:hover .toggle-line {
  background: $sidebar-highlight;
}

@media (any-hover: hover) {
  body:not(.sidebar-active) .sidebar-toggle:hover {
    toggle-arrow(hexo-config('sidebar.position'));
  }
}

.sidebar-active .sidebar-toggle {
  toggle-close(hexo-config('sidebar.position'));
}
